body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: bisque;
}

div{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: aliceblue;
    transform: translate(-50%,-50%);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #130f40;
}

#btn {
    margin-top: px;
    padding: 5px;
}